@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
body{
	margin:0;
}
* {
  box-sizing: border-box;
}

#w100{
	width:100%;
}
#w75{
	width:75%;
	float:left;
}
#w25{
	width:25%;
	float:left;
}

#w66{
	width:66%;
	float:left;
}
#w34{
	width:34%;
	float:left;
}


a{
	color: inherit;
	text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body{
	font-family: 'Roboto', sans-serif;
}
p,h1,h2,h3,h4,h5,h6,div{
	
	margin:0;
}
p{
	font-size:15px;
}
.division{
	border-top: 1px solid #d6d6d6;
	margin-top: 25px;
	margin-bottom: 25px;
}
i{
	vertical-align: text-top;
}

.highlight{
	font-size: 19px;
	color: blue;
}

.subtitle{
	margin-top:10px;
}

/* Nav  */
.nav{
	background-color: white;
	position:fixed;
	width:100%;
	top:0;
	height: 40px;
	z-index:1;
}

.home{
	height:22px;
	border-radius:5px 5px 5px 5px;
	width:99px;
	display:flex;
	align-items:center;
}
.home p {
	margin-left: 3px;
}
.navImg{
	width:22px; 
	float:left; 
	border-radius:20%;
}

.navleft{
	float:left;
	margin-left:20px;
	margin-top:9px;
	border-radius:5px 5px 5px 5px;
}


/* top  */
.topwallpaper{
	height:30vh;
	position:relative;
}

.wallpaper{
	width:100%;
	float:right;
	display:absolute;
	object-fit:cover;
	height: 100%;
	opacity:0.8;
}

.top{
	padding-top:40px;
	flex-shrink:0;
	flex-grow:0;
}

.topname{
	margin-left: 120px;
	margin-right: 120px;
}

.topname h1{
	margin-top:50px;
	font-size: 40px;
	font-weight: 1000;
}

.profilepic{
	margin-top:-32px;
	display:flex;
	position: relative;
	object-fit:cover;
	margin-left: 10px;
	margin-right: 10px;
}
.profilepic img{
	display:block;
	width: 120px;
	border-radius: 3px;
}

/* stack */
.content{
	margin-left: 120px;
	margin-right: 120px;
	margin-top:20px;
}
.content div{
	width:100%;
}

.content h2{
	font-size: 25px;
	font-weight: 800;
}

.stack{
	margin-bottom: 30px;
}
.stack h2{
	font-size: 24px;
	font-weight: 1000;
}
.stack li{
		margin:5px 0px 5px 0px;
}
.stack i{
	vertical-align: sub;
	font-size:27px;
	color: #f74d22;
}


/* github */
.github i{
	vertical-align: sub;
	font-size:28px;
	color: #6E40C9;
	opacity: 1;
}

/* linkbox */

.clickbox{
	margin-top:20px;
	margin-bottom: 30px;
	border: 1px solid #d6d6d6;
	border-radius: 3px 3px 3px 3px;
	height:110px;
	overflow:hidden;
}
.clickbox table{
	width:100%;
}
.clickbox div{
	overflow:hidden;
}

.clickbox:hover .description{
	background-color: #ededed;
}
.clickbox:active .description{
	background-color: #dbdbdb;
}
.clickbox:hover .descimg{
	opacity:0.9;
}

.comment1{
	margin-top:0px;
	white-space: nowrap;
	font-size: 15;
}

.comment2{
	margin-top:10px !important;
	height: 28px;
	font-size: 13;
	opacity:0.6;
	
}

.description{
	padding:10px;
	height:110px;
}
.descimg{
	background-color:#6E40C9;
	height:110px;
	opacity:0.8;
}
.descimg img{
	width:130px;
	float:right;
	display:block;
	object-fit:cover;
	height: 100%;
}

.logoimg{
	width:15px;
}

.logourl{
	display:flex;
	align-items:center;
	margin-top: 16px;
}
.logourl p{
	font-size: 11;
	margin-left:3px;
}
/* project */

.coffee i{
	vertical-align: sub;
	font-size:28px;
	color: #964315;
	opacity: 0.9;
}

.projectimg{
	width:100% !important;
}

/* contact */

.contact i{
	vertical-align: sub;
	font-size:28px;
	color: #009f93;
	opacity: 0.9;
}

.linkedin {
	width:27px;
	vertical-align: middle;
}

.contactbox{
	margin-top:20px;
	border-radius: 3px 3px 3px 3px;
	width:250px !important;
}

.contactbox:hover{
	background-color: #ededed;
}

.contactbox:active{
	background-color: #dbdbdb;
}

.contactbox div{
	display:flex;
	align-items: center;
	font-size: 17px;
}
.contactbox i{
	font-size:32px;
	color: #34a853;
}
.contactbox span{
	margin-left:5px;
}


#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}
@media screen and (max-width:900px){
	.topname{
		margin-left: 20px;
		margin-right: 20px;
	}
	.content{
		margin-left: 20px;
		margin-right: 20px;
	}
}